/* CSS重置，以确保在不同的浏览器中行为一致 */
html, body, #root, .game-layout {
  height: 100%;
  margin: 0;
  padding: 0;
}
.game-layout {
  display: grid;
  grid-template-rows: auto 1fr; /* Adjust row sizing to fit content more naturally */
  grid-template-columns: 1fr 2.5fr 1fr; /* Adjust column sizing for a more balanced layout */
  gap: 1rem; /* Maintain or adjust gap */
  height: 100vh;
  padding-top: 2rem;
}
.right-column {
  grid-column: 3;
  grid-row: 1 / span 2;
  margin-top: 20px;
}
.center-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  width: auto;
}


/* 上部分，右侧按钮 */
.controls {
  grid-row: 2 / span 1;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 按钮从上往下排列 */
  align-items: center; /* 按钮居中对齐 */
}
.controls button:first-child {
  margin-top: 300px;
}.controls button:nth-child(2) {
   margin-bottom: 14px;
 }


.chat-container {
  display: flex; /* 使用 flexbox 布局 */
  flex-direction: column; /* 垂直排列子元素 */
  height: 30rem;
  width: 14rem;
  background-color: #d390cb;
  border-radius: 16px;
  padding: 1rem;
  overflow-y: auto; /* 出现滚动条 */
  border: 2px solid #7f92ec;
  grid-template-rows: 14fr; /* 使用 fr 单位设置高度 */
  margin-top: 2rem;
  margin-bottom: 5rem;

  .message-container {
    overflow: visible;
    flex-grow: 1;
    margin-bottom: auto;
  }

  .message {
    position: relative; /* Needed to position the translate button absolutely within the container */
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 12px;
    border: 2px solid #1b6161;
    background: #e9e9e9; /* Example background color */
    word-wrap: break-word;



    &.self {
      background-color: rgba(0, 179, 211, 0.63);
      border-radius: 12px;
    }

    .message-author {
      font-weight: bold;
    }
  }

  .chat-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 将子元素垂直对齐到底部 */
    margin-top: 1rem; /* 调整间距 */

    .chat-input {
      width: 100%; /* 输入框占据全部宽度 */
      margin-bottom: 0.5rem; /* 输入框和按钮之间的间隔 */
    }

    .chat-send-btn {
      width: 100%; /* 按钮占据全部宽度 */
    }
  }

  // 对手消息

  .translate-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
  }

  .translate-btn img {
    width: 30px;
    height: auto;
  }

  .message {
    background: rgba(0, 68, 211, 0.6);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    align-self: flex-start; /* 靠左对齐 */
    margin-right: auto; /* 进一步确保对齐到左边 */
  }

  input[type="text"] {
    width: calc(100% - 20px); // Subtract padding from the total width
    padding: 5px;
    margin-top: 5px;
  }
}

.player-profile {
  grid-row: 2;
  grid-column: 1;
  border: 2px solid #6c757d; /* 灰色边框 */
  padding: 1rem; /* 内边距 */
  border-radius: 10px; /* 圆角 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 可选的轻微阴影效果 */
  text-align: center; /* 文本居中 */
  background-color: #7f92ec; /* 背景颜色 */
  width: auto; /* 宽度，根据需要调整 */
  margin: 1rem auto; /* 垂直方向的间距和水平居中 */
  display: flex; /* 采用flex布局 */
  flex-direction: column; /* 子元素垂直排列 */
  align-items: center; /* 子元素水平居中 */
  justify-content: center; /* 子元素垂直居中 */
  align-self: start;
  color: black;


  .player-avatar {
    border-radius: 70%;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
  }

  .blue {
    background-color: lightgreen;
  }

  .red {
    background-color: pink;
  }

  .player-name {
    order: -1; /* 将名字放在头像上方 */
    margin-bottom: 0.5rem; /* 名字与头像之间的间隔 */
  }

  .player-score {
    font-weight: bold;
  }
}



.card {
  border: 1px solid blue;
  padding: 15px;
  cursor: pointer;
  width: 80px; /* 卡牌宽度 */
  height: 100px; /* 卡牌高度 */
  margin: 0 5px; /* 两张卡牌之间的间隔 */
}

button {
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 2px #ccc;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #5d5c5c;
  }
}
.hand-of-cards-container {
  max-height: 150px;
  align-items: center;
}
