@import "../theme";
.edit {
    &.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: $background;
        border-radius: $borderRadius;
        box-shadow: $dropShadow;
        width: 60%; // Adjust according to layout needs
        margin: 20px auto; // Centering the container
    }

    &.form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px; // Provides space between form items
    }

    &.field {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .edit.input,
    .edit.label {
        width: 100%;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .back-btn {
        background-color: $accent;
    }
}
