@import "../theme";

.winner {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; // 添加这个以垂直居中内容
    box-shadow: $dropShadow;
    width: 100%; // 确保容器宽度为全屏
    height: 100vh; // 设定高度为视口高度，使其占满整个屏幕
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
    width: 100%; // 让列表占满容器宽度
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; // 让每个项目占满容器宽度
  }
  & p, & h2 {
    margin: 0.5em 0;
    text-align: center; // 文字居中
  }
}

.player {
  &.container {
    margin: 0.5em auto; // 居中显示
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    justify-content: space-between; // 使用space-between确保内部元素两端对齐
    background: lighten($background, 5);
    box-shadow: $dropShadow; // 可以添加阴影效果
  }
  &.name, &.username, &.id {
    display: block; // 确保每个元素都是独立的块，方便排版
    text-align: center; // 文本居中
  }
  &.username {
    font-weight: 500;
    color: $accent;
  }
  &.id {
    font-family: $fontMono;
    font-weight: 300;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
