/* Theme Colors */
$accent: #97ABFF;
$accentDark: #123597;
$textColor: #e4e8ef;
$background: rgba(0, 0, 0, 0.56);

/* Hintergrundbild */
$body-background-image: url('Wallpaper.png'); // Passe den Pfad entsprechend an

/* some constants */
$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
$background: rgba(176, 132, 255, 0.25);
$textColor: rgba(0,0,0,1);
$borderRadius: 0.75em;

/* mixins */
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hintergrundbild für den gesamten Körper */
body {
  background-image: $body-background-image;
  background-repeat: repeat; // Hier wiederhole das Bild, wenn nötig
  background-size: 625px 627; // Hier kannst du die Größe des Hintergrundbildes anpassen
}
